<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul>
                <% for (let order of orders) { %>
                    <li><%= order.id %></li>
                    <ul>
                        <% for (let product of order.products) { %>
                            <li>
                                <%= product.title %>(<%= product.orderItem.quantity %>)
                            </li>
                        <% } %>
                    </ul>
                <% } %>
            </ul>
        </main>
        <%- include('../includes/end.ejs') %>